<article>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'article_title' %}
      <div class="fkex items-center justify-center">
        <div class="max-w-7xl">
          <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.title }}</a>
          <h1 class="text-4xl md:text-6xl font-medium">{{ article.title }}</h1>
        </div>
      </div>
      <h1>{{ article.title }}</h1>
      {% when 'article_author' %}
      {% if section.settings.enable_author %}
        <small>{{ article.author }}</small>
      {% endif %}
      {% when 'article_published_date' %}
      {% if section.settings.enable_published_date %}
        <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>
      {% endif %}
      {% when 'featured_image' %}
      <img src="{{ article.image | img_url: 'large' }}" alt="{{ article.image.alt }}">
      {% when 'article_content' %}
      <div>{{ article.content }}</div>
  {% else %}
    {% endcase %}
  {% endfor %}
</article>



{% schema %}
  {
    "name": "Template Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "default": true,
        "label": "Display Author Name"
      }, {
        "type": "checkbox",
        "id": "enable_published_date",
        "default": true,
        "label": "Display Published Date"
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_published_date",
        "name": "Published Date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "Thumbnail",
        "limit": 1
      }, {
        "type": "article_content",
        "name": "content",
        "limit": 1
      }
    ]
  }
{% endschema %}